.title {
text-align: center;
}

.title h1,h3 {
margin: 1px;   
}

.button-box {
margin-top: 50px;    
text-align: center;
display: none;
justify-content: center;  
}

.score-box {
margin-top: 25px;
height: 100px;
border: 1px dotted black; 
}

.game-box {   
width: 650px;
height: 450px; 
border: 1px solid black;
display: flex;
margin: auto;
margin-top: 20px;
display: flex;
}

.button {
padding: 0 20px;
transition: transform 0.5s;
}

.button:hover {
transform:rotate(15deg) scale(1.1);   
border-radius: 5%;
}

.rock.button:hover {
box-shadow: 0 0 10px #0084ff
}

.paper.button:hover {
box-shadow: 0 0 10px #ffc400;
}

.scissors.button:hover {
box-shadow: 0 0 10px #f78a9c;
}

.start-box {
display: flex;
justify-content: center;
}

#start-btn, #restart-btn {
margin-top: 50px;
font-size: 28px;
border-radius: 10px;
box-shadow: 0 0 4px grey;
background-color: aliceblue;
border: none;
padding: 12px;
letter-spacing: 1px;
}

.restart-box {
display: none;
justify-content: center;
}

.score-box {
display: flex;    
justify-content: space-around;
}

.game-result {
display: none;
text-align: center;
margin: auto;
font-size: 40px;
font-style: italic;
}

.ptext, .aitext{
font-size: 35px;    
}   

.player-info, .ai-info{
display: flex;
flex-direction: column;
}

.pscore, .aiscore{
font-size: 40px;  
text-align: center;  
}

.info-box img {
width: 650px;
height: 450px;
object-fit: contain;
}

#start-btn:hover, #restart-btn:hover{
animation: animate 0.4s;
box-shadow: 0 0 15px pink;
animation-iteration-count: 2;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-10deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(10deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}